
/* PLAYLIST */

.playlist-container {
  font-family: 'DM Sans', sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 10px;
  margin-left: 320px;
  height: 430px;
  padding-top: 16px;
  border-radius: 10px;
}
 
  .playlist {
    margin: 24px;
  }
  
  .playlist #greeting {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 48px;
  }
  
  .playlist .session {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
  }
  
  /* SCROLL */
  .offer__scroll-container {
    max-height: 43vh;
    margin: 24px;
    overflow-y: auto;
  }
  
  .offer__scroll-container::-webkit-scrollbar {
    width: 1px;
  }
  
  .offer__scroll-container::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  /* FIM SCROLL */
  
  .offer__list-item {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-bottom: 16px;
  }
  
  /* POSITION */
  /* principais são static, relative, absolute, fixed, e sticky. */
  
  .cards {
    position: relative;
    width: 220px;
    height: 200px;
    overflow: hidden;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  .cards:hover {
    transform: scale(1.02);
    background-color: rgba(0, 0, 0, 0.5);

  }
  
  .cards span {
    padding: 16px;
    position: absolute;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
  }
  
  /* COLOR CARDS */
  .card1 {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .card2 {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .card3 {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .card4 {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .card5 {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .card6 {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .card7 {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .card8 {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .card9 {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .card10 {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .card11 {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .card12 {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .card13 {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .card14 {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .card15 {
    background-color: rgba(0, 0, 0, 0.5);
  }
  /* FIM COLOR CARDS */
  
  .offer__list-item img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: auto;
    width: 107px;
    transform: rotate(25deg) translate(18%, -2%);
  }

  /* CARD ARTISTA */

.artist {
  --column-count: 4;
  --grid-gap: 24px;
  --min-container-width: 372px;
}

.hidden {
  display: none;
}

.grid-container {
  grid-gap: var(--grid-gap);
  display: grid;
  grid-template-columns: repeat(var(--column-count), minmax(0, 1fr));
  min-width: var(--min-container-width);
}

.artist-card {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  -ms-flex: 1;
  flex: 1;
  isolation: isolate;
  padding: 16px;
  position: relative;
  transition: background-color 0.3s ease;
  width: 100%;
}

.artist-card:hover {
  transform: scale(1.04);
  background-color: rgba(0, 0, 0, 0.5);
}

.card-img {
  padding-bottom: 100%;
  position: relative;
  width: 100%;
  margin-bottom: 16px;
}

.artist-img {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  border-radius: 50%;
}

.card-text {
  display: flex;
  flex-direction: column;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-height: 62px;
}

.card-text a {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
}

.artist-name {
  box-sizing: border-box;
  margin-block: 0px;
  font-size: 16px;
  font-weight: 700;
  padding-block-end: 8px;
}

.artist-categorie {
  color: #6a6a6a;
  font-weight: 400;
  font-size: 0.875rem;
}

.play {
  position: relative;
}

.play .fa-play {
  position: absolute;
  right: 10px;
  top: 120px;
  padding: 18px;
  background-color: #1db954;
  border-radius: 100%;
  font-size: 14px;
  opacity: 0;
  transition: all ease 0.4s;
}

.artist-card:hover .play .fa-play {
  opacity: 1;
  transform: translateY(-20px);
}

.play .fa-play:hover {
  padding: 20px;
  cursor: pointer;
}

#result-artist {
  padding: 20px 40px;
}
/* FIM CARD ARTISTA */